.header-bg {
  background-image: url(./images/bg-pattern-intro-mobile.svg),
    linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));

  background-repeat: no-repeat no-repeat;
  background-position: 40% 40%;
  border-bottom-left-radius: 100px;
}
.section-bg {
  background-image: url(./images/bg-pattern-circles.svg),
    linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat, no-repeat;
  background-size: 150%, 100%;
  background-position: 50% -800%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
@media screen and (min-width: 768px) {
  .header-bg {
    background-image: url(./images/bg-pattern-intro-desktop.svg),
      linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));

    background-repeat: no-repeat no-repeat;
    background-position: 30% 50%;
  }
  .section-bg {
    background-repeat: no-repeat, no-repeat;
    background-size: 85%, 100%;
    background-position: -130% 80%;
  }
}
